/* bell */
.btxBellBtn {
  background: transparent;
  border: none;
  width: 36px;
  height: 100%;
  cursor: pointer;
}

/* badge */
.btxBadge {
  background-color: #c82323;
  border-radius: 50%;
  color: #fff;
  font-size: 11px;
  height: 20px;
  left: 20px;
  top: 4px;
  width: 20px;
  z-index: 1;
  padding: 0px;
  line-height: 2;
  display: flex;
  justify-content: center;
  position: absolute;
  display: none;
}

/* panel */
.btxPanel {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;
  width: 330px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, .18);
  padding: 5px 10px 5px 10px;
  font-family: Segoe UI, sans-serif;
}

.btxPanel.show {
  display: block
}

/* header */
.btxPanelHeader {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: black;//#c82323;
  line-height: 2.5;
}

/* items */
.btxItem {
  padding: 10px;
  border-radius: 8px;
}

.btxItem:hover {
  background: #f5f5f5;
}

.btxTitle {
  color: #c82323;
  font-weight: 600;
  line-height: 1.5;
  text-wrap: auto;
}

.btxDesc {
  color: #000;
  font-size: 13px;
  line-height: 1.5;
  text-wrap: auto;
}

// /* toast */
// .btxToastContainer {
//   position: fixed;
//   top: 70px;
//   right: 20px;
// }

// .btxToast {
//   background: white;
//   border-left: 4px solid #c82323;
//   border-radius: 12px;
//   padding: 14px;
//   margin-bottom: 10px;
//   box-shadow: 0 8px 20px rgba(0, 0, 0, .15);
// }

/* NEW */
.btxToastContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 340px;
}
/* NEW */
.btxToast {
  animation: btxSlideIn .25s ease;
  transition: all .25s ease;
}

/* NEW */
.btxToast.hide {
  opacity: 0;
  transform: translateX(40px);
}

@keyframes btxSlideIn {
  from { opacity: 0; transform: translateX(40px); }
  to { opacity: 1; transform: translateX(0); }
}


#btxBellWrapper {
  position: relative;
}
.btxViewAll{
  float: right;
  line-height: 2;
  font-size: 14px;
}
.btxClose{
  cursor: pointer;
}